.bannerLobby
    .bannerLobby__left
        picture
            source(srcset="./img/boxer-left-tab.png" media="(max-width: 1100px)")
            img(src="./img/boxer-left-desc.png" alt="favbet")
    .bannerLobby__center
        .bannerLobby__box
            picture
                source(srcset="./img/info-box-tab-en.png" media="(max-width: 1100px)")
                img(src="./img/info-box-desc-en.png" alt="favbet")
        a(href='/promos/promo/guessfight/').bannerLobby__link MAKE A PREDICTION
        p.bannerLobby__info *The prize fund of 1 000 000 ₴ refers to the distribution of prizes in the form of electronic cash substitutes as part of the "Round for a million" promotion. Promotion dates – from 12:00 17.12.2024 to 00:29 22.12.2024. Details available on the website www.favbet.ua.
    .bannerLobby__right
        picture
            source(srcset="./img/boxer-right-tab.png" media="(max-width: 1100px)")
            img(src="./img/boxer-right-desc.png" alt="favbet")

